@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  /* outline-style: none; */
}
a {
  color: #171719;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
html {
  font-size: 15px;
  overflow-x: hidden;
}
button {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}
body {
  color: #171719;
  font-size: 15px;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}
