.main {
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.ban-wrap {
  display: flex;
  justify-content: center;
}
.banner {
  display: flex;
  width: 500px;
  height: 58px;
  border: none;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  gap: 5px;
  background-color: rgba(111, 114, 123, 0.04);
  cursor: pointer;
}
.banner span {
  font-weight: 600;
}
.banner b {
  color: #06f;
  font-weight: 600;
}
.ban-img {
  width: 34px;
  height: 34px;
}
.ban-img img {
  width: 100%;
  height: 100%;
}
.ban-end {
  width: 10px;
  height: 20px;
}
.ban-end img {
  width: 100%;
  height: 100%;
}
.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.main-menu li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.main-menu li {
  width: 116px;
  height: 94px;
}
.main-menu li a {
  text-align: center;
}
.menu-img {
  height: 56px;
  margin-bottom: 10px;
}

.menu-img img {
  width: 56px;
  height: 100%;
}

.main-menu li a span {
  display: block;
  color: rgba(55, 56, 60, 0.61);
  font-size: 13px;
}

.main-content {
}
.list-new-wrap {
  margin-bottom: 60px;
}
.list-title-wrap {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.bt {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.bt button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  transition: background-color 0.3s;
}
.bt button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.bt button img {
  width: 31px;
  height: 30px;
  /* background-color: #fff; */
}
.bt-left img {
  transform: rotate(180deg);
}
.list-title {
  font-size: 22px;
  margin-bottom: 20px;
}
.list-thum-wrap {
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}

.list ul li {
  color: rgba(55, 56, 60, 0.61);
  font-size: 13px;
}
.thum {
  position: relative;
}
.thum:hover .thum-img img {
  transform: scale(1.1);
}
.thum-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  justify-content: space-between;
  z-index: 3;
  align-items: center;
}
.money {
  padding: 15px 15px;
  color: #fff;
  font-size: 14px;
}
.thum-bt {
  width: 24px;
  height: 24px;
  border: none;

  background-color: rgb(0, 0, 0, 0);
}
.thum-bt img {
  width: 100%;
  height: 100%;
}
.thum-img {
  width: 250px;
  height: 167px;
  overflow: hidden;
  border-radius: 10px;
}
.thum-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.thum-title {
  margin: 10px 0;
  font-size: 16px;
}
.thum-wrap {
  position: relative;
  transition: all 0.5s;
}
.thum-wrap-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 30px;
  max-width: 451px;
  max-height: 300px;
  z-index: 3;
}
.thum-wrap span {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}
.thum-exp {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
.thum-wrap:hover {
  /* 좌표 움직이기 */
  transform: translateY(-10px);
}
.thum-exp-img {
  width: 451px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.thum-exp-img img {
  width: 100%;
  height: 100%;
}
.theme-wrap {
  width: 340px;
  /* border: 1px solid #37383c9c; */
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  overflow: hidden;
}
.theme-img {
  width: 340px;
  height: 172px;
}
.theme-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.theme-img:hover img {
  transform: scale(1.1);
}
.theme-title {
  width: 340px;
  height: 72px;
  padding: 15px 15px;
}
.theme-exp {
  font-size: 17px;
  margin-bottom: 10px;
}
.theme-title span {
  color: rgba(55, 56, 60, 0.61);
  font-size: 13px;
}
.new-list-title {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 32px;
}
.new-list-title h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.bt-title {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  overflow: hidden;
  width: 80px;
  height: 32px;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 20px;
}
.bt-title:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.bt-title span {
  font-size: 15px;
}
.layout-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.list-wrap {
  position: relative;
  display: flex;
  width: 445px;
  height: 90px;
  gap: 15px;
  align-items: center;
}
.list-wrap:hover .list-img img {
  transform: scale(1.1, 1.1);
}
.list-wrap:hover .list-bt {
  visibility: visible;
}
.list-img {
  width: 120px;
  height: 90px;
  border-radius: 10px;
  overflow: hidden;
}
.list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.list-exp {
  font-size: 16px;
}
.list-exp-title {
  color: rgba(55, 56, 60, 0.61);
  font-size: 13px;
  margin-top: 5px;
}
.list-bt {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  visibility: hidden;
}
.list-bt img {
  width: 100%;
  height: 100%;
}
.mb-160 {
  margin-bottom: 160px !important;
}
